{% extends "../base.html" %}
{% block title %}Себет{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="main">
    <section class="products">
        <div class="container">
            <a href="#" class="btn btn-outline-dark mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<i
                    class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <h1 class="primary-title mb-4">Себет</h1>
            {% if cart|length == 0 %}
            <section class="products">
                <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content rounded-3 shadow">
                        <div class="modal-body p-4 text-center">
                          <h5 class="mb-0">Ескерту</h5>
                          <p class="mb-0">Сіздің себетіңіз бос. Себетті толықтырыңыз</p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <a href="{% url 'catalog:store_home' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end">Басты бет</button>
                            <a href="{% url 'catalog:homePage' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"><strong>Өнімдер</strong></button>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            {% else %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-0 shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h3 class="text-dark">Сіздің тапсырсыңыз</h3>
                                <h4>
                                    <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
                                </h4>
                            </div>
                            <ul class="list-group mb-3">
                                {% for item in cart %}
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">{{ item.product.name }}</h6>
                                        <small class="text-body-secondary">{{item.qty}} - дана, {{item.product.price}} &#8376;</small>
                                    </div>
                                    <span class="text-body-secondary">{{item.subtotal}} &#8376;</span>
                                    <button class="btn btn-danger btn-sm" onclick="deleteFromCart('{{item.product.id}}')">Жою</button>
                                </li>
                                {% endfor %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Барлығы (Теңге)</span>
                                    <strong>{{ cart.get_total }} &#8376;</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% include './checkout-form.html' %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    {% else %}
    <section class="products">
        <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
            <div class="modal-dialog" role="document">
              <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                  <h5 class="mb-0">Ескерту</h5>
                  <p class="mb-0">Тауарды көру үшін немесе төлемдерді жүргізу үшін аккаунт арқылы кіріңіз. Егер сізде аккаунт болмаса тіркеліңіз</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                  <a href="{% url 'users:signUp' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Тіркелу</strong></button>
                  <a href="{% url 'users:loginPage' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0">Кіру</button>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endif %}
</main>
<script>
    const deleteFromCart = (productId) => {
        let data = {
            product_id: productId
        }

        fetch("{% url 'orders:cart_delete' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;            
            document.getElementById('tr-'+productId).remove();            
        });
    }
</script>

{% endblock %}