{% extends "../base.html" %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="main">
    <section class="products">
        <div class="container">
            <a href="{% url 'catalog:store_home' %}" class="btn btn-outline-dark mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-0 shadow-lg">
                        <img src="{{ product.image.url }}" alt="" class="card-img object-fit-cover-prod">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card border-0 shadow-lg">
                        <div class="card-body p-4 ">
                            <h2>{{ product.name }}</h2>
                            <h3>Бағасы: {{ product.price }} &#8376;</h3>
                            <div class="prod-desc mb-2">Сипаттамасы: {{ product.description }}</div>
                            <div class="mb-2">
                                {% if product.in_stock %}
                                <span class="badge bg-primary mb-2">Сатылымда бар</span>
                                {% else %}
                                <span class="badge bg-danger mb-2">Сатылымда жоқ</span>
                                {% endif %}
                            </div>
                            <h3>Төлем</h3>
                            <div class="badge-group mb-2">
                                <span class="badge rounded-pill bg-danger">Kaspi 0:0:12</span>
                                <span class="badge rounded-pill bg-success">Halyq 0:0:12</span>
                                <span class="badge rounded-pill bg-info">Forte 0:0:12</span>
                                <span class="badge rounded-pill bg-warning">Jusan 0:0:12</span>
                            </div>
                            <h3>Тегін жеткізу</h3>
                            <div class="desc">Бүкіл Қазақстан бойынша тегін жеткізу</div>
                        </div>
                        <div class="border-bottom"></div>
                        <div class="card-body">
                            <button onclick="addToCart('{{product.id}}')" class="btn btn-primary btn-lg"><i class="fa-solid fa-cart-plus"></i> Себетке қосу</button>
                            <div class="display-none">
                                <label for="select-qty-{{product.id}}">Дана</label>
                                <select id="select-qty-{{product.id}}" class="select select-primary w-100">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="products">
        <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
            <div class="modal-dialog" role="document">
              <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                  <h5 class="mb-0">Ескерту</h5>
                  <p class="mb-0">Тауарды көру үшін немесе төлемдерді жүргізу үшін аккаунт арқылы кіріңіз. Егер сізде аккаунт болмаса тіркеліңіз</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                  <a href="{% url 'users:signUp' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Тіркелу</strong></button>
                  <a href="{% url 'users:loginPage' %}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0">Кіру</button>
                </div>
              </div>
            </div>
        </div>
    </section>
</main>
{% endif %}



<script>
    const addToCart = (productId) => {
        let selectQuantity = document.getElementById('select-qty-' + productId);
        let quantity = selectQuantity.value;

        let data = {
            product_id: productId,
            quantity
        }

        fetch("{% url 'orders:cart_add' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;
        });
    }
</script>
{% endblock %}